{% extends "base_generic.html" %}
{% load static %}

{% block head %}<link rel="stylesheet" href="{% static '/cats/cat_profile_style.css' %}">{% endblock %}

{% block header %}
  <header>
    <nav class="navbar">
      <a href="contact">contact</a>
      <a href="about">about</a>
      <a href="donate">donate</a>
    </nav>
    <logo class="logo">
      <img src="/media/web_modestio_logo.png">
    </logo>
  </header>
{% endblock%}

{% block content %}
  <h1>{{ cat.name }}</h1>
  <p><strong>Age:</strong> {{ cat.calculate_age }}</p>
  <p><strong>Sex:</strong> {{ cat.get_sex_display }}</p>
  <p><strong>Health:</strong> {{ cat.health_status }}</p>
  <div class="image-grid">
    {% for photo in cat.images.all %}
      <img src="{{ photo.image.url }}">
    {% endfor %}
  </div>
{% endblock %}
